/* ==========  ========== */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* ========== CLASSES REUTILIZAVEIS ========== */
/* =========================================== */
.container {
    max-width: 1280px;
    margin: 0 auto;
}

/* =========================================== */
/* ========== HEADER ========== */
.header {
    width: 100%;
    height: 4.25rem;
    background-color: #212343;
}

.header__container {
    height: 4.25rem;
}

.header__container img {
    margin: 1.50rem;
}

/* ========== SECTION__BANNER ========== */
.section__banner {
    width: 100%;
    height: 34.75rem;
    background-image: url('/Imagens/header_bg.png');
    background-size: cover;
    background-position: center;
}

.section__banner div {
    height: 100%;
}