@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

/* ==========  ========== */
* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

/* ========== HEADER ========== */
.header {
    background-color: #212343;
    height: 3.75rem;
    width: 100%;
}

.header__container {
    height: 3.75rem;
}

.header__container img {
    margin: 1.2rem;
}

/* ========= SECTION BANNER ========= */
.section__banner {
    background-image: url(../Imagens/header_bg.png);
    background-size: cover;
    background-position: center;
    height: 34.8rem;
    width: 100%;
}

/* ========== FORM ========== */
.box {
    background-color: rgba(120, 120, 120, 0.5);
    background-clip: padding-box;
    border: .5rem solid gray;
    float: right;
    height: calc(34.8rem + 2rem);
    position: relative;
    top: -1rem;
    width: 25rem;
}

.box h2 {
    color: darkgray;
    font-size: 1rem;
    padding: 1rem;
}

.form__name, .form__email, .form__telefone, .form__btn__enviar {
    padding: 1rem;
}

.span__name, .span__email, .span__telefone, .form__btn__enviar {
    color: darkgray;
    display: inline-block;
    font-size: 1.2rem;
    font-weight: bold;
    width: 100%;
}

#name, #email, #telefone {
    border: .2rem solid darkgray ;
    height: 3rem;
    padding: 1.2rem;
    width: 100%;
}

.form__btn__enviar input[type=submit] {
    background-color: #363A6D;
    border: 0;
    color: aliceblue;
    cursor: pointer;
    font-size: 1.5rem;
    height: 3.5rem;
    width: 100%;
}

/* ========== BOX LISTA ========== */
.box__list {
    background-color: rgba(33, 35, 67, 0.7);
    float: left;
    height: 16.8rem;
    margin-top: 4rem;
    padding: 1.5rem;
    width: 37.5rem;
}

.box__list ul {
    list-style-position: inside;
}

.box__list ul li {
    color: aliceblue;
    margin: 1.2rem;
    padding: .2rem;
}

/* ========== SECTION CONTAINER 2 ========== */
.section__container2 {
    background-color: #DDD;
    padding: 3.5rem 0;
    text-align: center;
}

.section__container2 h2 {
    font-weight: normal;
}

.section__container2 p {
    display: inline-block;
    margin: 1rem 0;
    padding: .5rem;
    text-align: justify;
    width: 37.5rem;
}

/* ========== ARROW ========== */
.arrow {
    background-image: url(../Imagens/arrow.png);
    background-size: 100% 100%;
    height: 3rem;
    left: 50%;
    margin-left: -1.25rem;
    position: relative;
    top: 5rem;
    width: 3rem;
}

/* ========== SECTION CONTAINER 3 ========== */
.section__container3 h2 {
    padding: 4rem;
    text-align: center;
}

.single__box {
    float: left;
    padding: 8rem;
    width: 33.33%;
}

.single__box, .img__single__box {
    padding: 2rem;
    text-align: center;
}

.title__single__box {
    text-align: center;
    padding: 1.5rem;
}

.text__single__box {
    text-align: justify;
    padding: 1.5rem;
}

/* ========== FOOTER ========== */
.page__footer {
    clear: both;
    color: #888;
    border-top: .2rem solid #888;
    padding: 2rem 0;
    text-align: center;
}